@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Fira+Sans:700|Raleway:400);
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

h1, h2, h3 {
  display: block;
  margin: 0;
  padding: 0.67em 0;
  color: #333;
}

h1 {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-size: 58px;
}

h2 {
  font-size: 36px;
  font-family: Fira Sans, sans-serif;
}

.section-heading {
  opacity: 0;
  padding: 1em 0;
}

.subheading {
  color: #34495e;
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 300;
  width: 100%;
}

.subsection p {
  padding: 15px;
}

.subsection-heading h3 {
  font-family: Raleway, sans-serif;
  text-align: center;
  font-size: 24px;
}

p {
  font-size: 21px;
  color: #555;
  font-family: Raleway, sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0.84em 0;
}

a {
  text-decoration: none;
}

ul, ol {
  padding: 0 0 0 30px;
  margin: 0;
  color: #333;
}

ul li, ol li {
  padding: 5px 0;
  font-size: 21px;
}

@media screen and (max-width: 1280px) {
  h1 {
    font-size: 48px;
  }
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 24px;
  }
  .subheading {
    font-size: 21px;
  }
  p {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 21px;
  }
  .subheading {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
}

* {
  box-sizing: border-box;
}

*.shown {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.site-header {
  display: flex;
  width: 100%;
  justify-content: center;
}

.typography .section-content {
  flex-direction: column;
}

.main-section {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0 72px 0;
}

.full-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.section-heading {
  width: 100%;
  text-align: center;
}

.section-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.subsection {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-section {
  width: 100%;
}

.half-section {
  width: 49%;
}

.third-section {
  width: 32.5%;
}

.quarter-section {
  width: 24%;
}

@media screen and (max-width: 1280px) {
  .container {
    width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .third-section, .quarter-section {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
  .half-section, .third-section, .quarter-section {
    width: 100%;
  }
}

.colors .subsection-content {
  text-align: center;
}

.red {
  background-color: #E53935 !important;
}

.red p {
  color: #ecf0f1;
}

.clouds {
  background-color: #ecf0f1 !important;
}

.darkGrey {
  background-color: #333 !important;
}

.darkGrey p {
  color: #ecf0f1;
}

hr {
  border: 0;
  height: 0;
  margin: 0;
}

.elements .subsection-content {
  background-color: white;
  padding: 15px;
}

.dark-grey-inset {
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #4d4d4d;
}

.red-inset {
  border-top: 1px solid rgba(214, 32, 28, 0.8);
  border-bottom: 1px solid rgba(234, 92, 89, 0.8);
}

.white-inset {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.main-nav {
  width: 100%;
  opacity: 0;
  transform: translateX(-50px);
}

.menu {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.menu a {
  color: #ecf0f1;
  font-size: 21px;
  font-family: Montserrat, sans-serif;
}

.menu a:hover {
  text-decoration: none;
}

.menu a:hover:after {
  width: 100%;
  background: #2ecc71;
}

.menu a:after {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  background: #ecf0f1;
  transition: width 0.5s ease, background-color 0.5s ease;
}

@media screen and (max-width: 1280px) {
  .menu a {
    font-size: 18px;
  }
}

@media screen and (max-width: 1024px) {
  .main-nav {
    position: initial;
  }
  .menu {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .mobile-header .container {
    z-index: 2;
  }
  .mobile-header a {
    color: #333;
    font-weight: 500;
    font-family: Montserrat, sans-serif;
  }
  .mobile-header img {
    height: 64px;
  }
  .mobile-nav {
    z-index: 1;
    width: 100%;
    background: white;
    transition: .5s ease-in-out;
    opacity: 0;
    transform: translateY(-100%);
  }
  .mobile-nav.is-open {
    opacity: 1;
    transform: translateY(0);
  }
  .mobile-menu {
    width: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .mobile-menu li {
    width: 100%;
    padding: 0;
  }
  .mobile-menu a {
    padding: 10px 0;
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .mobile-header a {
    font-size: 16px;
  }
}

.hamburglar {
  transform: scale(0.75);
  position: relative;
  display: block;
  width: 68px;
  height: 68px;
  -webkit-touch-callout: none;
  user-select: none;
}

.path-burger {
  position: absolute;
  top: 0;
  left: 0;
  height: 68px;
  width: 68px;
  mask: url(#mask);
  -webkit-mask-box-image: url(https://raygun.io/upload/mask.svg);
}

.animate-path {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px;
}

.path-rotation {
  height: 34px;
  width: 34px;
  margin: 34px 34px 0 0;
  transform: rotate(0deg);
  transform-origin: 100% 0;
}

.path-rotation:before {
  content: '';
  display: block;
  width: 30px;
  height: 34px;
  margin: 0 4px 0 0;
  background: #333;
}

@keyframes rotate-out {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-in {
  0% {
    transform: rotate(360deg);
  }
  40% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.hamburglar.is-open .path {
  animation: dash-in 0.6s linear normal;
  animation-fill-mode: forwards;
}

.hamburglar.is-open .animate-path {
  animation: rotate-in 0.6s linear normal;
  animation-fill-mode: forwards;
}

.hamburglar.is-closed .path {
  animation: dash-out 0.6s linear normal;
  animation-fill-mode: forwards;
}

.hamburglar.is-closed .animate-path {
  animation: rotate-out 0.6s linear normal;
  animation-fill-mode: forwards;
}

.path {
  stroke-dasharray: 240;
  stroke-dashoffset: 240;
  stroke-linejoin: round;
}

@keyframes dash-in {
  0% {
    stroke-dashoffset: 240;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-out {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 240;
  }
}

.burger-icon {
  position: absolute;
  padding: 20px 16px;
  height: 68px;
  width: 68px;
}

.burger-container {
  position: relative;
  height: 28px;
  width: 36px;
}

.burger-bun-top,
.burger-bun-bot,
.burger-filling {
  position: absolute;
  display: block;
  height: 4px;
  width: 36px;
  border-radius: 2px;
  background: #333;
}

.burger-bun-top {
  top: 0;
  transform-origin: 34px 2px;
}

.burger-bun-bot {
  bottom: 0;
  transform-origin: 34px 2px;
}

.burger-filling {
  top: 12px;
}

.burger-ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px;
}

.svg-ring {
  width: 68px;
  height: 68px;
}

.hamburglar.is-open .burger-bun-top {
  animation: bun-top-out 0.6s linear normal;
  animation-fill-mode: forwards;
}

.hamburglar.is-open .burger-bun-bot {
  animation: bun-bot-out 0.6s linear normal;
  animation-fill-mode: forwards;
}

.hamburglar.is-closed .burger-bun-top {
  animation: bun-top-in 0.6s linear normal;
  animation-fill-mode: forwards;
}

.hamburglar.is-closed .burger-bun-bot {
  animation: bun-bot-in 0.6s linear normal;
  animation-fill-mode: forwards;
}

@keyframes bun-top-out {
  0% {
    left: 0;
    top: 0;
    transform: rotate(0deg);
  }
  20% {
    left: 0;
    top: 0;
    transform: rotate(15deg);
  }
  80% {
    left: -5px;
    top: 0;
    transform: rotate(-60deg);
  }
  100% {
    left: -5px;
    top: 1px;
    transform: rotate(-45deg);
  }
}

@keyframes bun-bot-out {
  0% {
    left: 0;
    transform: rotate(0deg);
  }
  20% {
    left: 0;
    transform: rotate(-15deg);
  }
  80% {
    left: -5px;
    transform: rotate(60deg);
  }
  100% {
    left: -5px;
    transform: rotate(45deg);
  }
}

@keyframes bun-top-in {
  0% {
    left: -5px;
    bot: 0;
    transform: rotate(-45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    transform: rotate(-60deg);
  }
  80% {
    left: 0;
    bot: 0;
    transform: rotate(15deg);
  }
  100% {
    left: 0;
    bot: 1px;
    transform: rotate(0deg);
  }
}

@keyframes bun-bot-in {
  0% {
    left: -5px;
    transform: rotate(45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    transform: rotate(60deg);
  }
  80% {
    left: 0;
    bot: 0;
    transform: rotate(-15deg);
  }
  100% {
    left: 0;
    transform: rotate(0deg);
  }
}

.hamburglar.is-open .burger-filling {
  animation: burger-fill-out 0.6s linear normal;
  animation-fill-mode: forwards;
}

.hamburglar.is-closed .burger-filling {
  animation: burger-fill-in 0.6s linear normal;
  animation-fill-mode: forwards;
}

@keyframes burger-fill-in {
  0% {
    width: 0;
    left: 36px;
  }
  40% {
    width: 0;
    left: 40px;
  }
  80% {
    width: 36px;
    left: -6px;
  }
  100% {
    width: 36px;
    left: 0px;
  }
}

@keyframes burger-fill-out {
  0% {
    width: 36px;
    left: 0px;
  }
  20% {
    width: 42px;
    left: -6px;
  }
  40% {
    width: 0;
    left: 40px;
  }
  100% {
    width: 0;
    left: 36px;
  }
}

.hero-section {
  background-image: linear-gradient(rgba(51, 51, 51, 0.5), rgba(51, 51, 51, 0.5)), url(../assets/img/kresimir-coko-hero.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 70vh;
}

.hero-section .container {
  padding: 0;
}

.hero-section .subsection {
  align-items: flex-end;
}

#logo-span {
  font-family: Fira Sans, sans-serif;
  color: #333;
}

.mobile-header {
  display: none;
}

.site-heading {
  font-family: Fira Sans, sans-serif;
  opacity: 0;
  transform: translateX(50px);
  line-height: 1.2;
  padding: 0;
  font-size: 120px;
  text-align: right;
  color: #AAA;
}

.site-heading.shown {
  color: #ecf0f1;
}

.shown {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1280px) {
  .site-heading {
    font-size: 100px;
  }
}

@media screen and (max-width: 1024px) {
  .hero-section .half-section {
    position: initial;
  }
  .site-heading {
    font-size: 80px;
    padding: 0 40px;
  }
  .site-heading {
    position: initial;
  }
}

@media screen and (max-width: 768px) {
  .hero-section {
    height: 60vh;
  }
  .hero-section .half-section {
    display: none;
  }
  .site-heading {
    right: 0;
    font-size: 62px;
  }
  .mobile-header {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .mobile-header .container {
    height: 60px;
    background: white;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .subsection {
    margin: 0;
    align-items: center;
    justify-content: center;
  }
  .site-heading {
    padding: 0px;
    text-align: center;
    position: initial;
  }
}

.about-section {
  background-color: white;
}

.about-section .half-section {
  opacity: 0;
  transform: translateY(20px);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-section .half-section.shown {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.profile-img {
  width: 300px;
  border-radius: 50%;
  border: 8px solid #ecf0f1;
}

@media screen and (max-width: 768px) {
  .profile-img {
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .profile-img {
    margin-bottom: 20px;
  }
}

.achievements-section {
  background: #ecf0f1;
}

.achievements-section .third-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  opacity: 0;
  transform: translateX(-50px);
}

.achievements-section .third-section:hover .achi-number {
  background-color: #e0e0e0;
  transition: .3s ease-in-out;
}

.achievements-section .third-section:hover .achi-number h2 {
  color: #898989;
  transition: all 0.3s ease-in-out;
}

.achievements-section .third-section.shown {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.achi-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.achi-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 68px;
  border-radius: 100%;
  border: 2px solid #d6d6d6;
  background-color: #eaeaea;
}

.achi-number h2 {
  font-family: Fira Sans, sans-serif;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  color: #9d9d9d;
  position: relative;
  z-index: 5;
}

.achi-number:before {
  content: "";
  display: block;
  border-top: solid 2px #d6d6d6;
  width: 88%;
  height: 1px;
  position: absolute;
  left: 58%;
  top: 7%;
  z-index: 1;
}

.fa.achi-icon {
  font-size: 92px;
  padding: 60px 0 15px;
}

.achi-title {
  font-size: 26px;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  padding: 20px 0 0 0;
}

.achi-text {
  text-align: center;
}

.achi-text a {
  color: #1abc9c;
  font-weight: 500;
  transition: .1s ease-in-out;
}

.achi-text a:hover {
  border-bottom: 2px solid #1abc9c;
}

#algebra-achi i {
  color: #F9690E;
}

#division-achi i {
  color: #3498db;
}

#paper-achi i {
  color: #1abc9c;
}

#paper-achi .achi-number:before {
  display: none;
}

@media screen and (max-width: 1280px) {
  .achi-content {
    min-height: 420px;
  }
  .achi-title {
    font-size: 24px;
  }
  .achi-number:before {
    width: 86%;
    height: 1px;
    position: absolute;
    left: 60%;
    top: 7%;
    z-index: 1;
  }
}

@media screen and (max-width: 1024px) {
  .achi-content {
    min-height: 435px;
  }
  .achi-title {
    font-size: 18px;
  }
  .achi-number:before {
    width: 78%;
    height: 1px;
    position: absolute;
    left: 63%;
    top: 7%;
    z-index: 1;
  }
  .achi-text {
    line-height: 1.6;
  }
}

@media screen and (max-width: 768px) {
  .achievements-section .container {
    width: 80%;
  }
  .achievements-section .subsection {
    flex-direction: row;
  }
  .achi-content {
    min-height: initial;
    width: 80%;
  }
  .achi-number:before {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .achievements-section .container {
    width: 100%;
    padding-bottom: 0;
  }
  .achi-number {
    display: none;
  }
  .achi-content {
    background: white;
    margin-bottom: 20px;
    width: 90%;
    padding: 0 10px;
    box-shadow: 0px 0px 1px 1px #cfd9db;
  }
  .fa.achi-icon {
    padding-top: 30px;
  }
}

.interests-section .full-container {
  position: relative;
}

.interests-section .container {
  padding-bottom: 0px;
}

.interests-section .subsection {
  margin: 0;
  display: flex;
  justify-content: center;
  background-image: url(../assets/img/kresimir-coko-interests.png);
}

.interests-section .subsection:after {
  position: absolute;
  font-family: FontAwesome;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 120px;
  transition: .3s ease-in-out;
}

.interests-section .subsection p {
  padding: 0;
  color: #333;
}

.interests-section .subsection .half-section {
  z-index: 2;
}

.interests-section .half-section {
  width: 50%;
}

.interests-section .subsection-heading {
  text-align: center;
  padding: 50px 0;
  color: #ecf0f1;
  text-shadow: 1px 1px 3px #333;
}

#html-section {
  background-color: #F9690E;
  text-align: right;
  position: relative;
  transition: .3s ease-in-out;
  transform: translateX(-100px);
  opacity: 0;
}

#html-section.shown {
  opacity: 1;
  transform: translate(0);
}

#html-section:hover {
  background-color: rgba(249, 105, 14, 0.7);
  transition: .3s ease-in-out;
}

#html-section:hover:after {
  color: #fa8236;
}

#html-section:after {
  content: "\f13b";
  color: #fa8840;
}

#css-section {
  background-color: #3498db;
  position: relative;
  transition: .3s ease-in-out;
  transform: translateX(100px);
  opacity: 0;
}

#css-section.shown {
  opacity: 1;
  transform: translate(0);
}

#css-section:hover {
  background-color: rgba(52, 152, 219, 0.7);
  transition: .3s ease-in-out;
}

#css-section:hover:after {
  color: #57aae1;
}

#css-section:after {
  content: "\f13c";
  color: #75b9e7;
}

#js-section {
  background-color: #F7CA18;
  text-align: right;
  position: relative;
  transition: .3s ease-in-out;
  transform: translateX(-100px);
  opacity: 0;
}

#js-section.shown {
  opacity: 1;
  transform: translate(0);
}

#js-section:hover {
  background-color: rgba(247, 202, 24, 0.7);
  transition: .3s ease-in-out;
}

#js-section:hover:after {
  color: #F7CA18;
}

#js-section:after {
  content: "\f1cc";
  color: #fadb62;
}

#wp-section {
  background-color: #ecf0f1;
  position: relative;
  transition: .3s ease-in-out;
  transform: translateX(100px);
  opacity: 0;
}

#wp-section.shown {
  opacity: 1;
  transform: translate(0);
}

#wp-section:hover {
  background-color: rgba(170, 170, 170, 0.7);
  transition: .3s ease-in-out;
}

#wp-section:hover:after {
  color: rgba(236, 240, 241, 0.5);
}

#wp-section:after {
  content: "\f19a";
  color: white;
}

#speaking-section {
  background-color: #9b59b6;
  text-align: right;
  position: relative;
  transition: .3s ease-in-out;
  transform: translateX(-100px);
  opacity: 0;
}

#speaking-section.shown {
  opacity: 1;
  transform: translate(0);
}

#speaking-section:hover {
  background-color: rgba(155, 89, 182, 0.7);
  transition: .3s ease-in-out;
}

#speaking-section:hover:after {
  color: rgba(155, 89, 182, 0.5);
}

#speaking-section:after {
  content: "\f130";
  color: #b07cc6;
}

#gaming-section {
  background-color: #666;
  position: relative;
  transition: .3s ease-in-out;
  transform: translateX(-100px);
  opacity: 0;
}

#gaming-section.shown {
  opacity: 1;
  transform: translate(0);
}

#gaming-section:hover {
  background-color: rgba(102, 102, 102, 0.7);
  transition: .3s ease-in-out;
}

#gaming-section:hover:after {
  color: rgba(102, 102, 102, 0.5);
}

#gaming-section:after {
  content: "\f1b6";
  color: gray;
}

#floating-subsection {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: none;
  background-color: #ecf0f1;
  box-shadow: 0 0 12px #666;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#floating-subsection h1 {
  background-image: url(../assets/img/kresimir-coko-interests.png);
  background-color: rgba(46, 204, 113, 0.5);
  font-size: 42px;
  padding: 20px;
  margin: 20px;
  border: 6px solid #333;
  transition: .3s ease-in-out;
}

@media screen and (max-width: 1280px) {
  .interests-section .subsection .third-section {
    width: 50%;
  }
  #floating-subsection {
    width: 240px;
    height: 240px;
  }
}

@media screen and (max-width: 1024px) {
  #html-section, #css-section, #js-section, #wp-section {
    transform: translateY(50px);
  }
  #floating-subsection {
    width: 180px;
    height: 180px;
  }
}

@media screen and (max-width: 768px) {
  .interests-section .half-section {
    width: 100%;
  }
  .interests-section .subsection .third-section {
    width: 80%;
  }
  #floating-subsection {
    display: none;
  }
}

.work-section {
  background-color: white;
}

.work-section a {
  width: 100%;
}

.work-section .subsection {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  background-position: 50% 0%;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 80px 0;
}

.work-section .subsection.shown {
  opacity: 1;
  transform: translate(0);
  transition: all 0.5s ease-in-out;
}

.work-section .subsection .half-section {
  transition: all 0.5s ease-in-out;
}

.work-section .subsection .half-section h2 {
  text-align: center;
  text-shadow: 1px 1px 3px #333;
  padding: 0;
}

.work-section .subsection:hover {
  background-position: center;
}

.work-section .subsection:hover .half-section {
  transform: translateX(50%);
  transition: all 0.5s ease-in-out;
}

.work-section .subsection-heading {
  padding: 10px 0;
}

.work-section p {
  padding: 10px 0;
}

#sandra-work {
  background-image: linear-gradient(rgba(102, 102, 102, 0.6), rgba(102, 102, 102, 0.6)), url(../assets/img/kresimir-coko-sandra.png);
  transition: 0.5s ease-in-out;
  transform: translateX(-50px);
  margin-bottom: 5px;
}

#sandra-work h2 {
  color: #F9690E;
}

#sandra-work.shown {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
}

#scsi-work {
  background-image: linear-gradient(rgba(102, 102, 102, 0.6), rgba(102, 102, 102, 0.6)), url(../assets/img/kresimir-coko-scsi.png);
  transform: translateX(50px);
  margin-bottom: 5px;
}

#scsi-work h2 {
  color: #F7CA18;
}

#scsi-work.shown {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
}

#neobit-work {
  background-image: linear-gradient(rgba(102, 102, 102, 0.6), rgba(102, 102, 102, 0.6)), url(../assets/img/kresimir-coko-neobit.png);
  transform: translateX(-50px);
}

#neobit-work h2 {
  color: #2ecc71;
}

#neobit-work.shown {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 1024px) {
  #sandra-work, #scsi-work, #neobit-work {
    transform: translateY(50px);
  }
  .work-section .subsection:hover {
    background-position: 50% 0;
  }
  .work-section .subsection:hover .half-section {
    transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  .work-section .container {
    justify-content: center;
    padding-bottom: 0;
  }
  .work-section .subsection {
    width: 100%;
    padding: 60px 0;
  }
}

@media screen and (max-width: 640px) {
  .work-section .half-section {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .work-section .half-section {
    width: 90%;
  }
}

.contact-section {
  background-color: #2ecc71;
}

.contact-section .container {
  padding: 0;
}

.contact-section .subsection {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-section .section-heading {
  text-decoration: none;
  text-transform: none;
  font-family: Fira Sans, sans-serif;
  padding: 90px 0;
}

.contact-icons-subsection {
  padding: 0 0 20px 0;
}

.contact-icons-subsection a {
  padding: 0 10px;
  font-size: 18px;
  color: #ecf0f1;
  font-family: Montserrat, sans-serif;
  transform: translateX(-100px);
  transition: .3s ease-in-out;
  opacity: 0;
}

.contact-icons-subsection a.shown {
  opacity: 1;
  transform: translateX(0);
}

.contact-icons-subsection i {
  font-size: 24px;
  text-shadow: 1px 1px 1px #124f2c;
}

.fa-twitter {
  color: #55ACEE;
}

.fa-facebook {
  color: #45619D;
}

.fa-linkedin {
  color: #4E4E4E;
}

.fa-github {
  color: #333;
}

@media screen and (max-width: 768px) {
  .contact-section .section-heading {
    font-size: 42px;
    padding: 60px 0;
  }
  .contact-icons-subsection a {
    font-size: 16px;
  }
}

@media screen and (max-width: 560px) {
  .contact-section .section-heading {
    font-size: 36px;
  }
  .icons-section a {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .contact-section .section-heading {
    font-size: 26px;
    padding: 40px 0;
  }
  .contact-icons-subsection a {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .contact-section .section-heading {
    font-size: 24px;
  }
  .contact-icons-subsection a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
}
