@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Fira+Sans:700,300,500|Raleway:400,500,600,700|Open+Sans+Condensed:700&subset=latin,latin-ext);
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

h1, h2, h3 {
  display: block;
  margin: 0;
  padding: 0.67em 0;
  color: #333;
}

h1 {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-size: 58px;
}

h2 {
  font-size: 36px;
  font-family: Fira Sans, sans-serif;
}

.section-heading {
  opacity: 0;
  padding: 1em 0;
}

.subheading {
  color: #34495e;
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 300;
  width: 100%;
}

.subsection p {
  padding: 15px;
}

.subsection-heading h3 {
  font-family: Raleway, sans-serif;
  text-align: center;
  font-size: 24px;
}

p {
  font-size: 21px;
  color: #333;
  font-family: Raleway, sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0.84em 0;
}

a {
  text-decoration: none;
  color: #E53935;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

ul, ol {
  padding: 0 0 0 30px;
  margin: 0;
  color: #333;
}

ul li, ol li {
  padding: 5px 0;
  font-size: 21px;
}

@media screen and (max-width: 1280px) {
  h1 {
    font-size: 48px;
  }
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 24px;
  }
  .subheading {
    font-size: 21px;
  }
  p {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 21px;
  }
  .subheading {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
}

* {
  box-sizing: border-box;
}

*.shown {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.site-header {
  display: flex;
  width: 100%;
  justify-content: center;
}

.typography .section-content {
  flex-direction: column;
}

.main-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0 72px 0;
}

.full-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.section-heading {
  width: 100%;
  text-align: center;
}

.section-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.subsection {
  margin-bottom: 30px;
}

.full-section {
  width: 100%;
}

.half-section {
  width: 49%;
}

.third-section {
  width: 32.5%;
}

.quarter-section {
  width: 24%;
}

@media screen and (max-width: 1280px) {
  .container {
    width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .third-section, .quarter-section {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
  .half-section, .third-section, .quarter-section {
    width: 100%;
  }
}

.colors .subsection-content {
  text-align: center;
}

.red {
  background-color: #E53935 !important;
}

.red p {
  color: #ecf0f1;
}

.clouds {
  background-color: #ecf0f1 !important;
}

.darkGrey {
  background-color: #333 !important;
}

.darkGrey p {
  color: #ecf0f1;
}

hr {
  border: 0;
  height: 0;
  margin: 0;
}

.elements .subsection-content {
  background-color: white;
  padding: 15px;
}

.dark-grey-inset {
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #4d4d4d;
}

.red-inset {
  border-top: 1px solid rgba(214, 32, 28, 0.8);
  border-bottom: 1px solid rgba(234, 92, 89, 0.8);
}

.white-inset {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.main-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transform: translateX(-50px);
}

.menu {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.menu a {
  color: #ecf0f1;
  font-weight: 500;
  font-size: 21px;
  font-family: Montserrat, sans-serif;
}

.menu a:hover {
  text-decoration: none;
}

.menu a:hover:after {
  width: 100%;
  background: #2ecc71;
}

.menu a:after {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  background: #ecf0f1;
  transition: width 0.5s ease, background-color 0.5s ease;
}

@media screen and (max-width: 1280px) {
  .menu a {
    font-size: 18px;
  }
}

@media screen and (max-width: 1024px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .nav-subsection {
    order: 1;
  }
  .main-nav {
    position: initial;
  }
}

.hero-section {
  background-image: linear-gradient(rgba(51, 51, 51, 0.5), rgba(51, 51, 51, 0.5)), url(../assets/img/hero.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 70vh;
}

.hero-section .container {
  padding: 0;
}

.hero-section .half-section {
  position: relative;
}

.site-heading {
  opacity: 0;
  transform: translateX(50px);
  line-height: 1.2;
  padding: 0;
  position: absolute;
  bottom: 0;
  font-size: 120px;
  text-align: right;
  color: #AAA;
}

.site-heading.shown {
  color: #ecf0f1;
}

.shown {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1280px) {
  .site-heading {
    font-size: 100px;
  }
}

@media screen and (max-width: 1024px) {
  .site-heading {
    font-size: 80px;
    padding: 0 40px;
  }
}

@media screen and (max-width: 768px) {
  .hero-section .subsection {
    justify-content: center;
    display: flex;
  }
  .site-heading {
    right: 0;
    font-size: 62px;
  }
}

@media screen and (max-width: 480px) {
  .subsection {
    margin: 0;
    align-items: center;
    justify-content: center;
  }
  .site-heading {
    padding: 0px;
    text-align: center;
    position: initial;
  }
}

.about-section {
  background-color: white;
}

.about-section .half-section {
  opacity: 0;
  transform: translateY(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-section .half-section.shown {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.profile-img {
  width: 300px;
  border-radius: 50%;
}

.achievements-section {
  background: #ecf0f1;
}

.achievements-section .third-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  opacity: 0;
  transform: translateX(-50px);
}

.achievements-section .third-section:hover .achi-number {
  background-color: #e0e0e0;
  transition: .3s ease-in-out;
}

.achievements-section .third-section:hover .achi-number h2 {
  color: #898989;
  transition: all 0.3s ease-in-out;
}

.achievements-section .third-section.shown {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.achi-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 68px;
  border-radius: 100%;
  border: 2px solid #d6d6d6;
  background-color: #eaeaea;
}

.achi-number h2 {
  font-family: Fira Sans, sans-serif;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  color: #9d9d9d;
  position: relative;
  z-index: 5;
}

.achi-number:before {
  content: "";
  display: block;
  border-top: solid 2px #d6d6d6;
  width: 88%;
  height: 1px;
  position: absolute;
  left: 58%;
  top: 7%;
  z-index: 1;
}

.fa.achi-icon {
  font-size: 92px;
  padding: 60px 0 15px;
}

.achi-title {
  font-size: 26px;
  color: #666;
  font-family: Fira Sans, sans-serif;
  padding: 20px 0 0 0;
}

.achi-text {
  text-align: center;
}

#algebra-achi i {
  color: #F9690E;
}

#division-achi i {
  color: #3498db;
}

#paper-achi i {
  color: #1abc9c;
}

#paper-achi .achi-number:before {
  display: none;
}

.interests-section .full-container {
  position: relative;
}

.interests-section .container {
  padding-bottom: 0px;
}

.interests-section .subsection {
  margin: 0;
  display: flex;
  justify-content: center;
}

.interests-section .subsection p {
  padding: 0;
}

.interests-section .subsection .third-section {
  margin: 40px 0;
}

.interests-section .half-section {
  width: 50%;
}

.interests-section .subsection-heading {
  padding: 10px 0;
}

#html-section {
  background: #E53935;
  text-align: right;
}

#css-section {
  background: #2ecc71;
}

#js-section {
  background: #F7CA18;
  text-align: right;
}

#wp-section {
  background: #AAA;
}

#floating-subsection {
  width: 400px;
  height: 400px;
  background: #ecf0f1;
  box-shadow: 0 0 30px #666;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1280px) {
  .interests-section .subsection .third-section {
    width: 50%;
  }
  #floating-subsection {
    width: 240px;
    height: 240px;
  }
}

@media screen and (max-width: 1024px) {
  #floating-subsection {
    width: 180px;
    height: 180px;
  }
}

@media screen and (max-width: 768px) {
  .interests-section .half-section {
    width: 100%;
  }
  .interests-section .subsection .third-section {
    width: 80%;
  }
  #floating-subsection {
    display: none;
  }
}

.work-section {
  background-color: white;
}

.work-section .subsection {
  opacity: 0;
  transform: translateX(-100px);
  transition: 0.5s ease-in-out;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.work-section .subsection.shown {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.work-section .subsection:first-of-type {
  padding: 0;
}

.work-section .subsection-heading {
  padding: 10px 0;
}

.work-section p {
  padding: 10px 0;
}

#sandra-work {
  background-color: #3498db;
}

#scsi-work {
  background-color: #1abc9c;
  transform: translateX(100px);
}

#scsi-work.shown {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
}

#neobit-work {
  background-color: #F9690E;
  transform: translateX(-100px);
}

#neobit-work.shown {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
  .work-section .container {
    justify-content: center;
  }
  .work-section .subsection {
    width: 80%;
  }
}

@media screen and (max-width: 640px) {
  .work-section .half-section {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .work-section .subsection {
    width: 90%;
  }
}

.contact-section {
  background-color: #2ecc71;
}

.contact-section .container {
  padding: 0;
}

.contact-section .subsection {
  margin: 0;
}

.contact-section .section-heading {
  text-decoration: none;
  text-transform: none;
  font-family: Fira Sans, sans-serif;
}

@media screen and (max-width: 768px) {
  .contact-section .section-heading {
    font-size: 42px;
  }
}

@media screen and (max-width: 480px) {
  .contact-section .section-heading {
    font-size: 26px;
  }
}
