hr {
  border: 0;
  height: 0;
  margin: 0;
}

.elements .subsection-content {
  background-color: white;
  padding: 15px;
}

.dark-grey-inset {
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #4d4d4d;
}

.red-inset {
  border-top: 1px solid rgba(214, 32, 28, 0.8);
  border-bottom: 1px solid rgba(234, 92, 89, 0.8);
}

.white-inset {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
