* {
	box-sizing: border-box;
}

.site-header {
	display: flex;
	width: 100%;
	justify-content: center;
}

.typography .section-content {
	flex-direction: column;
}

.main-section {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.container {
	width: 1280px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 60px 0;
}

.full-container {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.section-heading {
	width: 100%;
	text-align: center;
}

.section-content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.subsection {
	margin-bottom: 30px;
}

.full-section {
	width: 100%;
}

.half-section {
	width: 49%;
}

.third-section {
	width: 32.5%;
}

.quarter-section {
	width: 24%;
}


@media screen and (max-width: 1280px) {
	.container {
		width: 1024px;
	}
}

@media screen and (max-width: 1024px) {
	.container {
		width: 768px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		width: 100%;
	}

	.third-section, .quarter-section {
		width: 100%;
	}
}

@media screen and (max-width: 480px) {
	.container {
		width: 100%;
	}

	.half-section, .third-section, .quarter-section {
		width: 100%;
	}
}