// Fonts

$Rale : Raleway, sans-serif;
$Mont : Montserrat, sans-serif;
$FS : Fira Sans, sans-serif;
$Lobster : Lobster, cursive;
$Bree : Bree Serif, serif;


// Colors

$turquoise: #1abc9c;
$emerald: #2ecc71;
$blue: #3498db;
$amethyst: #9b59b6;
$asphalt: #34495e;
$whellow: #FFEDA6;
$yellow: #F7CA18;
$orange: #F9690E;
$red: #E53935;
$clouds: #ecf0f1;
$grey: #AAA;
$mediumGrey: #666;
$darkGrey: #333;
$lightBlue: #337DC4;
$darkBlue: #295789;
$pink: #DB0A5B;
