.about-section {
	background-color: white;

	.half-section {
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
}

.profile-img {
	width: 300px;
	border-radius: 50%;
	border: 8px solid $clouds;
}

@media screen and (max-width: 768px) {
	.about-section {
		.container {
			padding: 20px 0;
		}

		.section-heading {
			padding: 20px 0;
		}

		.subsection p {
			font-size: 21px;
			padding: 40px 40px 0 40px;
		}
	}

	.half-section {
		width: 100%;
		padding-bottom: 0;
	}

	.profile-img {
		width: 230px;
		height: 230px;
	}
}

@media screen and (max-width: 480px) {
	.about-section {

		.subsection p {
			font-size: 21px;
			padding: 20px;
		}
	}
	.profile-img {
		margin-bottom: 20px;
	}
}
