.achievements-section {
	background: $clouds;

	.third-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0;

		&:hover {
			.achi-number {
				background-color: lighten(#BCBCBC, 14%);
				transition: .3s ease-in-out;

				h2 {
					color: darken(#BCBCBC, 20%);
					transition: all 0.3s ease-in-out;
				}
			}
		}
	}
}

.achi-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.achi-number {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 68px;
	height: 68px;
	border-radius: 100%;
	border: 2px solid lighten(#BCBCBC, 10%);
	background-color: lighten(#BCBCBC, 18%);

	h2 {
		font-family: $FS;
		padding: 0;
		font-weight: 700;
		font-size: 30px;
		color: darken(#BCBCBC, 12%);
		position: relative;
		z-index: 5;
	}

	&:before {
		content: "";
		display: block;
		border-top: solid 2px lighten(#BCBCBC, 10%);
		width: 88%;
		height: 1px;
		position: absolute;
		left: 58%;
		top: 7.5%;
		z-index: 1;
	}
}

.fa.achi-icon {
	font-size: 92px;
	padding: 60px 0 15px;
}

.achi-title {
	font-size: 26px;
	font-family: $Mont;
	text-transform: uppercase;
	padding: 20px 0 0 0;
}


.achi-text {
	a {
		color: $turquoise;
		font-weight: 500;
		transition: .1s ease-in-out;

		&:hover {
			border-bottom: 2px solid $turquoise;
		}
	}
}

#algebra-achi {
	i {
		color: $orange;
	}
}

#division-achi {
	i {
		color: $blue;
	}
}

#paper-achi {
	i {
		color: $turquoise;
	}

	.achi-number:before {
		display: none;
	}
}

@media screen and (max-width: 1280px) {
	.achi-content {
		min-height: 420px;
	}

	.achi-title {
		font-size: 24px;
	}

	.achi-number {

		&:before {
			width: 86%;
			height: 1px;
			position: absolute;
			left: 60%;
			top: 7%;
			z-index: 1;
		}
	}
}

@media screen and (max-width: 1024px) {
	.achi-content {
		min-height: 435px;
	}

	.achi-title {
		font-size: 18px;
	}

	.achi-number {

		&:before {
			width: 78%;
			height: 1px;
			position: absolute;
			left: 63%;
			top: 7%;
			z-index: 1;
		}
	}

	.achi-text {
		line-height: 1.6;
	}
}

@media screen and (max-width: 768px) {
	.achievements-section {

		.container {
			align-items: baseline;
			padding-bottom: 10px;
		}

		.third-section {
			width: 70%;
		}
	}

	.achi-content {
		min-height: initial;
		padding-top: 10px;
		margin-top: 10px;
		background-color: white;
	  box-shadow:
	    0 1px 2px rgba($darkGrey, 0.1),
	    0 -1px 2px rgba($darkGrey, 0.1);
	}

	.achi-number {
		display: none;
	}

	.fa.achi-icon {
		padding: 0;
	}

	.achi-title {
		font-size: 24px;
		text-align: center;
	}

	p.achi-text {
		padding: 10px 20px;
	}
}

@media screen and (max-width: 480px) {
	.achievements-section {
		.container {
			width: 100%;
			padding-bottom: 0;
		}

		.third-section {
			width: 100%;
		}
	}

	.achi-title {
		font-size: 28px;
		text-align: center;
		padding-top: 10px;
	}

	.achi-number {
		display: none;
	}

	p.achi-text {
		font-size: 21px;
		padding: 10px;
	}

	.achi-content {
		background: white;
		margin: 0 0 10px 0;
		width: 90%;
		padding: 0 10px;
		box-shadow: 0 1px 2px rgba($darkGrey, 0.1);
	}

	.fa.achi-icon {
		padding-top: 10px;
		font-size: 76px;
	}
}
