.contact-section {
	background-color: $emerald;

	.subsection {
		margin: 0;
	}

	.section-heading {
		text-decoration: none;
		text-transform: none;
	}	
}

@media screen and (max-width: 768px) {
	.contact-section {

		.section-heading {
			font-size: 42px;
		}
	}
}

@media screen and (max-width: 480px) {
	.contact-section {

		.section-heading {
			font-size: 26px;
		}
	}
}