.contact-section {
	background-color: $emerald;

	.container {
		padding: 0;
	}

	.subsection {
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.section-heading {
		text-decoration: none;
		text-transform: none;
		font-family: $FS;
		padding: 90px 0;
	}
}

.contact-icons-subsection {
	padding:0 0 20px 0;

	a {
		padding: 0 10px;
		font-size: 21px;
		color: $clouds;
		font-family: $Rale;
		transform: translateX(-100px);
		transition: .3s ease-in-out;
		opacity: 0;

		&.shown {
			opacity: 1;
			transform: translateX(0);
		}
	}

	i {
		font-size: 24px;
		color: $darkGrey;
	}
}

.fa-twitter {
	color: #55ACEE;
}

.fa-facebook {
	color: #45619D;
}

.fa-linkedin {
	color: #4E4E4E;
}

.fa-github {
	color: #333;
}

@media screen and (max-width: 768px) {
	.contact-section {

		.section-heading {
			font-size: 42px;
			padding: 60px 0;
		}
	}

	.contact-icons-subsection {
		a {
			font-size: 16px;
		}
	}
}

@media screen and (max-width: 560px) {
	.contact-section {
		.section-heading {
			font-size: 36px;
		}
	}

	.icons-section {
		a {
			font-size: 14px;
		}
	}
}

@media screen and (max-width: 480px) {
	.contact-section {
		.section-heading {
			font-size: 26px;
			padding: 40px 0;
		}
	}

	.contact-icons-subsection {
		a {
			font-size: 12px;
		}
	}
}

@media screen and (max-width: 400px) {
	.contact-section {
		.section-heading {
			font-size: 24px;
		}
	}

	.contact-icons-subsection {
		a {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			font-size: 14px;
		}
	}
}
