.contact-section {
	background-color: $emerald;

	.container {
		padding: 0;
	}

	.subsection {
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.section-heading {
		text-decoration: none;
		text-transform: none;
		font-family: $FS;
		padding: 90px 0;
	}
}

.contact-icons-subsection {
	padding:0 0 20px 0;

	a {
		padding: 0 10px;
		font-size: 21px;
		color: $clouds;
		font-family: $Rale;
	}

	i {
		font-size: 24px;
		color: $darkGrey;
	}
}

.fa-twitter {
	color: #55ACEE;
}

.fa-facebook {
	color: #45619D;
}

.fa-linkedin {
	color: #4E4E4E;
}

.fa-github {
	color: #333;
}

@media screen and (max-width: 768px) {
	.contact-section {

		.section-heading {
			font-size: 42px;
			padding: 45px 0 30px 0;
		}
	}

	.contact-icons-subsection {
		a {
			font-size: 21px;
		}
	}
}

@media screen and (max-width: 560px) {
	.contact-section {
		.section-heading {
			font-size: 36px;
		}
	}

	.icons-section {
		a {
			font-size: 14px;
		}
	}
}

@media screen and (max-width: 480px) {
	.contact-section {
		.section-heading {
			font-size: 26px;
			padding: 40px 0;
		}
	}

	.contact-icons-subsection {
		a {
			font-size: 12px;
		}
	}
}

@media screen and (max-width: 400px) {
	.contact-section {
		padding: 20px 0;

		.section-heading {
			font-size: 28px;
			padding: 20px;
		}
	}

	.contact-icons-subsection {
		display: flex;
		flex-direction: column;

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 21px;

			i {
				padding-right: 10px;
			}

			&:nth-child(2) {
				padding: 10px 0;
			}
		}
	}
}
