.hero-section {
	background-image: linear-gradient(
      rgba($darkGrey, 0.5),
      rgba($darkGrey, 0.5)
    ), url(../assets/img/kresimir-coko-hero.jpg);
	background-size: cover;
	background-attachment: fixed;
	height: 70vh;

	.container {
		padding: 0;
		align-items: center;
	}
}

#logo-span {
	font-family: $FS;
	color: $darkGrey;
}

.mobile-header {
	display: none;
}

.heading-subsection {
	flex-direction: column;
	justify-content: center;
}

.site-heading {
	font-family: $FS;
	opacity: 0;
	transform: translateX(50px);
	line-height: 1.2;
	padding: 0;
	font-size: 120px;
	text-align: center;
	color: $grey;

	&.shown {
		color: $clouds;
	}
}

.site-subheading {
	font-family: $Rale;
	font-size: 24px;
	padding: 0;
	color: $emerald;
	text-shadow: 1px 1px 3px $darkGrey;
}

.shown {
	opacity: 1;
	transform: translateX(0);
	transition: all .3s ease-in-out;
}


@media screen and (max-width: 1280px) {
	.site-heading {
		font-size: 100px;
	}
}

@media screen and (max-width: 768px) {
	.hero-section {
		height: 80vh;
	}

	.nav-subsection.subsection {
		display: none;
	}

	.heading-subsection.subsection {
		height: 100%;
		width: 100%;
		justify-content: center;
		align-items: center;
		padding: 0;
		margin: 0;
	}

	.site-heading {
		font-size: 64px;
	}

	.mobile-header {
		display: flex;
		align-items: center;
		flex-direction: column;

		.container {
			height: 60px;
			background: white;
			justify-content: space-around;
			align-items: center;
		}
	}

}

@media screen and (max-width: 480px) {
	.subsection {
		margin: 0;
		align-items: center;
		justify-content: center;
	}

	.site-heading {
		padding: 0px;
		text-align: center;
		position: initial;
	}
}
