.hero-section {
	background-image: linear-gradient(
      rgba($darkGrey, 0.5),
      rgba($darkGrey, 0.5)
    ), url(../assets/img/kresimir-coko-hero.jpg);
	background-size: cover;
	background-attachment: fixed;
	height: 70vh;

	.container {
		padding: 0;
		align-items: center;
	}
}

#logo-span {
	font-family: $FS;
	color: $darkGrey;
}

.mobile-header {
	display: none;
}

.heading-subsection {
	flex-direction: column;
	justify-content: center;
	margin-bottom: 0;
}

.site-heading {
	font-family: $FS;
	text-transform: none;
	font-weight: 300;
	line-height: 1;
	opacity: 0;
	transform: translateX(50px);
	padding: 0;
	font-size: 64px;
	text-align: center;

	&.shown {
		color: $clouds;
	}
}

.site-subheading {
	font-family: $Bree;
	font-weight: 400;
	line-height: 1;
	font-size: 26px;
	padding: 0;
	color: $emerald;
	text-shadow: 0 1px 1px darken($emerald, 30%);
}

.shown {
	opacity: 1;
	transform: translateX(0);
	transition: all .3s ease-in-out;
}

.hero-cta_section {
	flex-direction: column;
}

.hero-cta_addon {
	color: $clouds;
	font-family: $Rale;
	font-weight: 300;
	font-size: 21px;
	padding-bottom: 5px;
}

.hero-cta {
	color: white;
	background-color: $emerald;
	padding: 15px 60px;
	font-family: $Mont;
	font-weight: 700;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	box-shadow: 0 2px 4px rgba($darkGrey, 0.1);
}


@media screen and (max-width: 1280px) {
	.site-heading {
		font-size: 100px;
	}
}

@media screen and (max-width: 768px) {
	.hero-section {
		height: 100vh;
	}

	.nav-subsection.subsection {
		display: none;
	}

	.heading-subsection.subsection {
		height: 100%;
		width: 100%;
		justify-content: center;
		align-items: center;
		padding: 0;
		margin: 0;
	}

	.site-heading {
		font-size: 46px;
	}

	.site-subheading {
		font-size: 21px;
	}

	.hero-cta_section {
		margin: 0;
	}

	.hero-cta_addon {
		font-size: 18px;
	}

	.hero-cta {
		font-size: 21px;
	}

	.mobile-header {
		display: flex;
		align-items: center;
		flex-direction: column;

		.container {
			height: 60px;
			background: white;
			justify-content: space-around;
			align-items: center;
		}
	}

}

@media screen and (max-width: 480px) {
	.subsection {
		margin: 0;
		align-items: center;
		justify-content: center;
	}

	.site-heading {
		padding: 0px;
		text-align: center;
		position: initial;
	}
}

@media screen and (max-width: 359px) {
	.hero-cta {
		font-size: 18px;
	}
}
