.interests-section {

	.full-container {
		position: relative;
	}

	.container {
		padding-bottom: 0px;
	}

	.subsection {
		margin: 0;
		display: flex;
		justify-content: center;
		background-image: url(../assets/img/interests-bg.png);
		background-position: center;

		&:after {
		position: absolute;
		font-family: FontAwesome;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		font-size: 180px;
		transition: .3s ease-in-out;
	}

		p {
			padding: 0;
		}

		.third-section {
			margin: 40px 0;
			z-index: 2;
		}
	}

	.half-section {
		width: 50%;
	}

	.subsection-heading {
		padding: 10px 0;
	}
}

#html-section {
	background-color: $orange;
	text-align: right;
	position: relative;
	transition: .3s ease-in-out;

	&:hover {
		background-color: rgba($orange, 0.7);
		transition: .3s ease-in-out;

		&:after {
			color: lighten($orange, 8%);
		}
	}

	&:after {
		content: "\f13b";
		color: lighten($orange, 10%);
	}
}

#css-section {
	background-color: $blue;
	position: relative;
	transition: .3s ease-in-out;

	&:hover {
		background-color: rgba($blue, 0.7);
		transition: .3s ease-in-out;

		&:after {
			color: lighten($blue, 8%);
		}
	}

	&:after {
		content: "\f13c";
		color: lighten($blue, 15%);
	}
}

#js-section {
	background-color: $yellow;
	text-align: right;
	position: relative;
	transition: .3s ease-in-out;

	&:hover {
		background-color: rgba($yellow, 0.7);
		transition: .3s ease-in-out;

		&:after {
			color: $yellow;
		}
	}

	&:after {
		content: "\f1cc";
		color: lighten($yellow, 15%);
	}
}

#wp-section {
	background-color: $clouds;
	position: relative;
	transition: .3s ease-in-out;

	&:hover {
		background-color: rgba($grey, 0.7);
		transition: .3s ease-in-out;

		&:after {
			color: rgba($clouds, .5);
		}
	}

	&:after {
		content: "\f19a";
		color: lighten($clouds, 10%);
	}
}

#floating-subsection {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: none;
	background-color: $clouds;
	box-shadow: 0 0 12px $mediumGrey;
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	h1 {
		background-image: url(../assets/img/interests-bg.png);
		background-color: rgba($emerald, 0.5);
		padding: 20px;
		margin: 20px;
		border: 6px solid $darkGrey;
		transition: .3s ease-in-out;
	}
}

@media screen and (max-width: 1280px) {

	.interests-section {

		.subsection {

			.third-section {
					width: 50%;
			}
		}	
	}

	#floating-subsection {
		width: 240px;
		height: 240px;
	}
}

@media screen and (max-width: 1024px) {
	#floating-subsection {
		width: 180px;
		height: 180px;
	}
}

@media screen and (max-width: 768px) {
	.interests-section .half-section {
		width: 100%;
	}

	.interests-section .subsection .third-section {
		width: 80%;
	}

	#floating-subsection {
		display: none;
	}
}