.work-section {
	background-color: white;

	a {
		width: 100%;
	}

	.subsection {
		opacity: 0;
		transition: all 0.5s ease-in-out;
		background-position: 50% 0%;
		margin: 0;
		display: flex;
		justify-content: center;
		padding: 80px 0;

		&.shown {
			opacity: 1;
			transform: translate(0);
			transition: all 0.5s ease-in-out
		}

		.half-section {
			transition: all 0.5s ease-in-out;

			h2 {
				text-align: center;
				text-shadow: 1px 1px 3px $darkGrey;
				padding: 0;
			}
		}

		&:hover {
			background-position: center;

			.half-section {
				transform: translateX(50%);
				transition: all 0.5s ease-in-out;
			}
		}
	}

	.subsection-heading {
		padding: 10px 0;
	}

	p {
		padding: 10px 0;
	}
}


#sandra-work {
	background-image: linear-gradient(
			rgba($mediumGrey, 0.6),
			rgba($mediumGrey, 0.6)
		), url(../assets/img/sandra.png);
	transition: 0.5s ease-in-out;
	transform: translateX(-50px);

	h2 {
		color: $orange;
	}

	&.shown {
		opacity: 1;
		transform: translateX(0);
		transition: all 0.5s ease-in-out
	}
}

#scsi-work {
	background-image: linear-gradient(
			rgba($mediumGrey, 0.6),
			rgba($mediumGrey, 0.6)
		), url(../assets/img/scsi.png);
	transform: translateX(50px);

	h2 {
		color: $yellow;
	}

	&.shown {
		opacity: 1;
		transform: translateY(0);
		transition: all 0.5s ease-in-out
	}
}

#neobit-work {
	background-image: linear-gradient(
			rgba($mediumGrey, 0.6),
			rgba($mediumGrey, 0.6)
		), url(../assets/img/neobit.png);
	transform: translateX(-50px);

	h2 {
		color: $emerald;
	}

	&.shown {
		opacity: 1;
		transform: translateY(0);
		transition: all 0.5s ease-in-out
	}
}

@media screen and (max-width: 1024px) {
	#sandra-work, #scsi-work, #neobit-work {
		transform: translateY(50px);
	}

	.work-section {
		.subsection:hover {
			background-position: 50% 0;

			.half-section {
				transform: translateX(0);
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.work-section {

		.container {
			justify-content: center;
			padding-bottom: 0;
		}

		.subsection {
			width: 100%;
			padding: 5px 0;
		}
	}
}

@media screen and (max-width: 640px) {
	.work-section {
		.half-section {
			width: 80%;
		}
	}
}

@media screen and (max-width: 480px) {
	.work-section {

		.half-section {
			width: 90%;
		}
	}
}
