.work-section {
	background-color: white;

	.subsection {
		opacity: 0;
		transform: translateX(-100px);
		transition: 0.5s ease-in-out;
		margin: 0;
		display: flex;
		justify-content: center;
		padding: 40px 0;

		&.shown {
			opacity: 1;
			transform: translateY(0);
			transition: all 0.3s ease-in-out
		}

		&:first-of-type {
			padding: 0;
		}
	}

	.subsection-heading {
		padding: 10px 0;
	}

	p {
		padding: 10px 0;
	}
}

#sandra-work {
	background-color: $blue;
}

#scsi-work {
	background-color: $turquoise;
	transform: translateX(100px);
	&.shown {
			opacity: 1;
			transform: translateY(0);
			transition: all 0.5s ease-in-out
		}
}

#neobit-work {
	background-color: $orange;
	transform: translateX(-100px);

	&.shown {
			opacity: 1;
			transform: translateY(0);
			transition: all 0.5s ease-in-out
		}
}

@media screen and (max-width: 768px) {
	.work-section {

		.container {
			justify-content: center;
		}
		

		.subsection {
			width: 80%;
		}
	}
}

@media screen and (max-width: 640px) {
	.work-section {
		.half-section {
			width: 80%;
		}
	}
}

@media screen and (max-width: 480px) {
	.work-section {
		
		.subsection {
			width: 90%;
		}
	}
}
